body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #121212;
  color: #f0f0f0;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;  /* Horizontally center the body */
  align-items: center;      /* Vertically center the body */
  height: 100vh;            /* Full screen height */
  flex-direction: column;   /* Stack content vertically */
}

h1 {
  color: #ffffff;
}

.sound-button {
  cursor: pointer;
  user-select: none;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.sound-button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.sound-button img {
  pointer-events: none; /* Ensure img doesn't intercept clicks */
}

.soundboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 900px;
  margin-top: 30px;
  padding: 0 10px;
  width: 100%;
}

@media (max-width: 700px) {
  .soundboard {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .soundboard {
    grid-template-columns: 2fr;
  }
}
